.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  padding-right: 50px;
}

.options {
  padding: 20px;
}

.button-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}