<div class="vis-container">
  <div #dataContainer class="data-container" [ngStyle]="{'height': dataContainerWidth}">
    <app-data-panel [dataset]="dataset()"></app-data-panel> 
  </div>
  
  <div #dragbar (touchstart)="startResize(true)" (mousedown)="startResize(false)" class="resize-bar">
    <div class="line"></div>
  </div>
  
  <div #mapContainer class="map-container">
    <app-map-component #map
      [dataset]="dataset()"
      [imageContainer]="mapContainerRef()">
    </app-map-component>
  </div>
</div>