<div class="search-wrapper">
  <div class="input-container">
    <label for="hawaii-address">Search Hawaii Addresses & Landmarks</label>
    <input
      id="hawaii-address"
      type="text"
      [formControl]="searchControl"
      placeholder="e.g., Waikiki Beach, Diamond Head..."
      autocomplete="off"
    />
    
    @if (suggestions().length > 0) {
      <ul class="suggestions-list">
        @for (place of suggestions(); track place.latitude + place.longitude) {
          <li (click)="selectPlace(place)">
            <span class="place-name">{{ place.name }}</span>
            @if (place.city || place.postcode) {
              <span class="place-details">
                {{ place.city }} {{ place.postcode }}
              </span>
            }
          </li>
        }
      </ul>
    }
  </div>

  @if (selectedPlace(); as place) {
    <div class="result-card">
      <h3>Selected Location Geometry</h3>
      <table class="data-table">
        <tr>
          <th>Location Name:</th>
          <td>{{ place.name }}</td>
        </tr>
        <tr>
          <th>City/Region:</th>
          <td>{{ place.city || 'N/A' }}</td>
        </tr>
        <tr class="highlight-row">
          <th>Latitude:</th>
          <td>{{ place.latitude }}</td>
        </tr>
        <tr class="highlight-row">
          <th>Longitude:</th>
          <td>{{ place.longitude }}</td>
        </tr>
      </table>
    </div>
  }
</div>