
<div class="container">
  <h2 class="section-header">
    Map Location
  </h2>
  <app-map-location-selector
    [(mapLocation)]="mapLocation">
  </app-map-location-selector>
  @if(stationData(); as stationResource) {
    @if(stationResource.isLoading()) {
      <mat-spinner></mat-spinner>
    }
    @if(stationResource.value(); as stationManager) {
      <h2 class="section-header">
        Stations
      </h2>
      <app-station-filters
        [manager]="stationManager">
      </app-station-filters>

      <div class="table-buffer">
        <app-station-table 
          [stations]="stationManager.filteredStations()"
          [(selectedStation)]="selectedStation">
        </app-station-table>
      </div>

      @if(selectedStation(); as station) {
        <div class="details-buffer">
          <app-station-details
            [station]="station">
          </app-station-details>
        </div>
      }
    }
  }
</div>


