.table-buffer {
  padding-top: 10px;
}

.container {
  gap: 20px;
}

.location-input-container {
  width: 100%;
  
  .example-full-width {
    width: 100%;
  }

  mat-spinner {
    margin: 0 auto;
  }
}