.table-buffer {
  padding-top: 10px;
}

.details-buffer {
  padding-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 0;
}

.location-input-container {
  width: 100%;
  
  .example-full-width {
    width: 100%;
  }

  mat-spinner {
    margin: 0 auto;
  }
}

.station-header {
  margin-bottom: 0;
}