<ng-template #viewToggle let-actionLabel="toggle data view">
  <div class="button-container">
    @if(isVis()) {
      <button matButton="filled" aria-label="Export dataset data" (click)="changeView('export')">
        Export Data 
      </button>
    }
    @else {
      <button matButton="filled" aria-label="Visualize dataset data" (click)="changeView('visualize')">
        Visualize Data 
      </button>
    }
  </div>
</ng-template>

<div class="topbar-container">
  <button matMiniFab aria-label="Toggle dataset category selector" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <button matMiniFab aria-label="Open settings" (click)="openSettings()">
    <mat-icon>settings</mat-icon>
  </button>

  @if(dataset) {
    <mat-expansion-panel #descriptionPanel class="topbar-expansion">
      
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{dataset.label}}
        </mat-panel-title>
        @if(!descriptionPanel.expanded) {
          <mat-panel-description>
            {{dataset.description}}
          </mat-panel-description>
        }
      </mat-expansion-panel-header>
      
      <p class="expanded-description">{{dataset.description}}</p>

      @if(layoutManager.smallScreen()) {
        <ng-container *ngTemplateOutlet="viewToggle" />
      }
    </mat-expansion-panel>
    @if(!layoutManager.smallScreen()) {
      <ng-container *ngTemplateOutlet="viewToggle" />
    }
  }
  @if(!layoutManager.smallScreen() && isVis()) {
    <div class="layout-selector">
      <mat-button-toggle-group name="layout" aria-label="Layout" hideSingleSelectionIndicator="true" [(ngModel)]="layoutManager.layoutStyle">
        <mat-button-toggle value="vertical" matTooltip="Vertical Layout"><mat-icon>border_horizontal</mat-icon></mat-button-toggle>
        <mat-button-toggle value="horizontal" matTooltip="Horizontal Layout"><mat-icon>border_vertical</mat-icon></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  }
</div>