.location-input-container {
  width: 100%;
  
  .full-width {
    width: 100%;

    button {
      margin-right: 5px;
    }
  }

  // Centers the spinner perfectly inside the matSuffix button
  mat-spinner {
    margin: 0 auto;
  }
}