
@if(rasterData()) {
  <mat-card class="map-stats-card">
    <mat-card-header>
      <div mat-card-avatar class="header-icon">
        <mat-icon color="primary">analytics</mat-icon>
      </div>
      <mat-card-title>Map Statistics</mat-card-title>
      <mat-card-subtitle>{{subtext()}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <div class="stats-grid">
        @for (element of statsDataSource(); track element.metric) {
          <div class="stat-block">
            <span class="stat-label">{{ element.metric }}</span>
            <span class="stat-value">{{ element.value | number:'1.2-2' }}</span>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
}
@else {
  <div class="loading-container">
    <h3>Loading Raster Data...</h3>
    <mat-spinner diameter="24"></mat-spinner>
  </div>
}

<span class="spacer"></span>

@if(timeseriesInfo(); as tsInfo) {
  <mat-card class="map-stats-card">
    <mat-card-header>
      <div mat-card-avatar class="header-icon">
        <mat-icon color="primary">analytics</mat-icon>
      </div>
      <mat-card-title>{{tsInfo.label}}</mat-card-title>
      <mat-card-subtitle>{{subtext()}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      @if(timeseriesDataResource.isLoading()) {
        <div class="loading-container">
          <h3>Loading Timeseries Data...</h3>
          <mat-spinner diameter="24"></mat-spinner>
        </div>
      }

      <div class="stats-grid">
        <app-timeseries-chart
          [dataStream]="dataStream()"
          [period]="period()">
        </app-timeseries-chart>
      </div>
    </mat-card-content>
  </mat-card>
}
