.selector-container {
  width: 100%;
  min-width: fit-content;
  height: 100%;
  min-height: fit-content;
}

.mat-icon.mat-icon-inline {
  font-size: 20px;
  vertical-align: middle;
  padding-left: 5px;
  padding-bottom: 3px;
}